.btn {
    display: inline-block;
    padding: 1.25rem 2.5rem;
    border: 2px solid $gray-color;
    border-radius: 5px;
    outline: 0;
    font-size: 1.4rem;
    font-weight: 600;
    font-family: $primary-font;
    text-transform: uppercase;
    text-align: center;
    color: $white-color;
    cursor: pointer;
    &--blue {
        @include paddingX(3rem);
        border: 2px solid $blue-color;
        color: $blue-color;
    }
    &--download {
        border: 2px solid $primary-color;
        color: $white-color;
        background-color: $primary-color;
    }
    &--signup {
        padding: 1rem 6rem;
        border-radius: 0 5px 5px 0;
        border: 0;
        color: $white-color;
        background-color: $primary-color;
        @include maxWidth($grid__bp-sm) {
            border-radius: 5px;
            margin-top: 1rem;
        }
    }
}