-
    const menuFooter = ["About", "Privacy","Terms", "Contact"]; 
    const listHeading= {
        about:{
            label:"WHAT'S INSIDE",
            title: "Connect can bring charm to your website.",
            desc: "Get staright to the point always, people find it attractive when they visit your website.",
        },
        result:{
            label:"OUR RESULTS",
            title: "Our awesome results worth displaying",
            desc: "",
        },
        pricing:{
            label:"",
            title: "Simple & Affordable Pricing.",
            desc: "Our plans are designed to meet the requirements of both beginners and players. Get the right plan that suits you.",
        },
        cta:{
            label:"START YOUR TRIAL",
            title: "Connect is made just for you. Ready to build your next project?",
            desc: "",
        },
    }
    const aboutLists= [
        {
            imageSrc:"./assets/images/cat1.png",
            title:"Fluid Layout",
            desc: "Deliver the best stories and ideas on the topics you care about most straight to you.",
            bg: "bg-3"
        },
        {
            imageSrc:"./assets/images/cat2.png",
            title:"Fluid Layout",
            desc: "Deliver the best stories and ideas on the topics you care about most straight to you.",
            bg: "bg-2"
        },
        {
            imageSrc:"./assets/images/cat3.png",
            title:"Fluid Layout",
            desc: "Deliver the best stories and ideas on the topics you care about most straight to you.",
            bg: "bg"
        },
    ]
    const featureLists = ["Realtime broadcasts","View realtime stats","Upload and sit tight"]
    const resultLists = [
        {
            imageSrc:"./assets/images/f1.png",
            percent:47,
            name: "Mobile Users"
        },
        {
            imageSrc:"./assets/images/f2.png",
            percent:12,
            name: "Daily Views"
        },
        {
            imageSrc:"./assets/images/f3.png",
            percent:13,
            name: "Monthly Returns"
        },
        {
            imageSrc:"./assets/images/f4.png",
            percent:15,
            name: "Annual Growth"
        },
    ]
    const questionLists = ["What is Connect?","How much does template cost?","How can updates be downloaded?","Some other Support related queries."]