- const listItemMenu = ["Product", "Features", "Reviews", "Pricing", "FAQ", "DOWNLOAD"]
header.header
    .container
        nav.header__menu
            h1.header__menu-logo Connect.
            label(for="checked")
                i.fas.fa-bars.header__menu-collapse.d-none
            input#checked.header__menu-check.d-none(type="checkbox")
            ul.header__menu-list
                each item in listItemMenu
                    if (item==="DOWNLOAD")
                        li.list__item.btn.list__item--download
                            +link('#', 'DOWNLOAD')(class="list__item-link")
                    else
                        li.list__item
                            +link('#', item)(class="list__item-link")
