*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-size: $font-size-html;
}
body {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 1.5rem;
  color: $gray-color;
  background-color: $white-color;
}
img {
  display: block;
  max-width: 100%;
}
a {
  display: block;
  text-decoration: none;
}
p {
  line-height: 1.5;
}
h1,h2,h3,h4,h5,h6 {
  font-family: $primary-font;
  color: $secondary-color;
  font-weight: 800;
  margin-bottom: 2rem;
}
.wrapper {
  max-width: $wrapper;
  @include marginAuto();
}
