$white-color: #fff;
$dark-color: #3a3a47;
$gray-dark-color: #6a7076;
$gray-color: #818198;
$gray-light-color: #abafb3;
$primary-color: #21bf73;
$secondary-color: #383b61;
$blue-color: #3498db;
$bg-color: #f0f5f9;
$bg2-color: #f8f9fa;
$bg3-color: #fff2e5;
$secondary-font: "Open Sans", sans-serif;
$primary-font: "Montserrat", sans-serif;
$font-size-html: 62.5%;
$wrapper: 192rem;
$container: 117rem;
$grid__bp-sm: 576;
$grid__bp-md: 768;
$grid__bp-lg: 992;
$grid__bp-xl: 1200;
$grid__cols: 12;
